{% extends 'base.html' %}
{% load static %}

{% load mathfilters %}

{% block scripts %}
    {% static 'js/checkout.js' %}
{% endblock %}

{% block title %}Checkout{% endblock %}

{% block heading %}Checkout{% endblock %}

{% block content %}

  <section>
    <div class="d-flex justify-content-between mb-4 px-3">
      <div>
        <p>Choose your a payment options</p>
      </div>
      <div class="d-flex column-gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="currentColor" class="bi bi-paypal ms-3" viewBox="0 0 16 16">
            <path d="M14.06 3.713c.12-1.071-.093-1.832-.702-2.526C12.628.356 11.312 0 9.626 0H4.734a.7.7 0 0 0-.691.59L2.005 13.509a.42.42 0 0 0 .415.486h2.756l-.202 1.28a.628.628 0 0 0 .62.726H8.14c.429 0 .793-.31.862-.731l.025-.13.48-3.043.03-.164.001-.007a.351.351 0 0 1 .348-.297h.38c1.266 0 2.425-.256 3.345-.91.379-.27.712-.603.993-1.005a4.942 4.942 0 0 0 .88-2.195c.242-1.246.13-2.356-.57-3.154a2.687 2.687 0 0 0-.76-.59l-.094-.061ZM6.543 8.82a.695.695 0 0 1 .321-.079H8.3c2.82 0 5.027-1.144 5.672-4.456l.003-.016c.217.124.4.27.548.438.546.623.679 1.535.45 2.71-.272 1.397-.866 2.307-1.663 2.874-.802.57-1.842.815-3.043.815h-.38a.873.873 0 0 0-.863.734l-.03.164-.48 3.043-.024.13-.001.004a.352.352 0 0 1-.348.296H5.595a.106.106 0 0 1-.105-.123l.208-1.32.845-5.214Z" />
        </svg>
      </div>
    </div>

    <div>
      <div class="row px-3 justify-content-between">

        <div class="col-sm-12 col-md-5 col-lg-5 pe-0 pe-md-5">
          <div id="paypal-button-container"></div>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 order-md-last p-0 order-3">
          <div class="d-flex bd-highlight ms-0">
            <div class="p-2 flex-grow-1 bd-highlight">Sub Total:</div>
            <div class="p-2 bd-highlight"><span id="sub_total"
                class="fw-bold h5">{{ bag.get_subtotal_price }} <span class="fw-bold h5">USD</span></span>
            </div>
          </div>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">Delivery Cost:</div>
            <div class="p-2 bd-highlight"><span id="delivery_price"
                class="fw-bold h5">{{ bag.get_delivery_price }} <span class="fw-bold h5">USD</span></span>
            </div>
          </div>
          <div class="d-flex bd-highlight">
            <div class="p-2 flex-grow-1 bd-highlight">Total:</div>
            <div class="p-2 bd-highlight"><span id="total"
                class="fw-bold h5">{{ bag.get_total_price }} <span class="fw-bold h5">USD</span></span>
            </div>
          </div>
        </div>

      </div>
    </div>


    <script
      src="https://www.paypal.com/sdk/js?client-id=AakZakck4LlIfLTFbd0k5AfF-RWYUyZvh2GoWHDrIaQIq9vQzKjZdE12zEvxkT9Mg0ai4d_bPB5xYc49&currency=USD"
      data-sdk-integration-source="button-factory">
    </script>

    <script>
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');



      function initPayPalButton() {
        paypal.Buttons({
          style: {
            shape: 'rect',
            color: 'gold',
            layout: 'vertical',
            label: 'paypal',

          },
        createOrder: function (data, actions) {
            return actions.order.create({
              purchase_units: [{
                "amount": {
                  "currency_code": "USD",
                  "value": '{{ bag.get_total_price }}'
                }
              }]
            });
          },
        onApprove: function (data) {
            var url = "{% url 'checkout:payment_complete' %}"
            return fetch(url, {
              method: 'POST',
              headers: {
                'content-type': 'application/json',
                'X-CSRFToken': csrftoken,
              },
              body: JSON.stringify({
                orderID: data.orderID
              })
            }).then(function () {
              location.href = "{% url 'checkout:payment_successful' %}";
            })
          },
        }).render('#paypal-button-container');
      }
      initPayPalButton();

      </script>
    </section>

{% endblock %}