{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Edit Address{% endblock %}

{% block content %}

    <section class="px-3">
        <div class="mb-4 border-bottom d-flex justify-content-between">
            <h3 class="fs-4">Edit delivery <b>address</b> and delivery preferences.</h3>
        </div>

        <form method="post" name="address_form" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error: Please try again!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <label for="full_name" class="form-label small fw-bold">{{ form.full_name.label }}</label>
                    <div class="input-group">
                        {{ form.full_name }}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label small fw-bold">{{ form.phone.label }}</label>
                    <div class="input-group">
                        {{ form.phone }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="address_line_1" class="form-label small fw-bold">{{ form.address_line_1.label }}</label>
                    <div class="input-group">
                        {{ form.address_line_1 }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="address_line_2" class="form-label small fw-bold">{{ form.address_line_2.label }}</label>
                    <div class="input-group">
                        {{ form.address_line_2 }}
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="post_code" class="form-label small fw-bold">{{ form.post_code.label }}</label>
                    <div class="input-group">
                        {{ form.post_code }}
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="town_city" class="form-label small fw-bold">{{ form.town_city.label }}</label>
                    <div class="input-group">
                        {{ form.town_city }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="delivery_instructions" class="form-label small fw-bold">{{ form.delivery_instructions.label }}</label>
                    <div class="input-group">
                        {{ form.delivery_instructions }}
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-warning mb-4 mt-4 px-5 fw-bold" type="submit">
                    Edit Address
                </button>
            </div>
            
        </form>
    </section>

{% endblock %}