{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Add Brand{% endblock %}

{% block content %}

    <section class="px-3">
        <div class="mb-4 border-bottom d-flex justify-content-between">
            <h3 class="fs-4">Add a new <span class="fw-bold">brand</span></h3>
        </div>

        <form action="{% url 'inventory:add_brand' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error: Please try again!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <label for="title" class="form-label small fw-bold">{{ form.title.label }}</label>
                    <div class="input-group">
                        {{ form.title }}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="logo" class="form-label small fw-bold">{{ form.logo.label }}</label>
                    <div class="input-group">
                        {{ form.logo }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="form-label small fw-bold">{{ form.description.label }}</label>
                    <div class="input-group">
                        {{ form.description }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <label for="web" class="form-label small fw-bold">{{ form.web.label }}</label>
                    <div class="input-group">
                        {{ form.web }}
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="instagram" class="form-label small fw-bold">{{ form.instagram.label }}</label>
                    <div class="input-group">
                        {{ form.instagram }}
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="twitter" class="form-label small fw-bold">{{ form.twitter.label }}</label>
                    <div class="input-group">
                        {{ form.twitter }}
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-danger mb-4 mt-4 px-5 fw-bold" type="submit">
                    Add Brand
                </button>
            </div>
            
        </form>
    </section>

{% endblock %}