{% extends 'base.html' %}
{% load static %}

{% block title %}Categories{% endblock %}

{% block heading %}Our Products' Categories{% endblock %}

{% block content %}
    <section>
        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            {% for category in categories %}
            <article class="col">
                
                    <div class="card text-dark">
                        <!-- <img src="/images/bridget-flohe.jpg" class="card-img-top" alt="..."> -->
                        <a href="{% url 'pages:category' category.slug %}" class="text-danger">
                            <div class="card-body">
                            
                                <h5 class="card-title">{{ category.title }}</h5>
                                <p class="card-text">{{ category.description }}</p>
                            
                            </div>
                        </a>
                        <div class="card-footer">
                           
                            <div class="d-flex gap-1">
                                <span class="fw-bold">{{ category.title }}'s Sub-Categories: </span>
                                {% for sub_category in sub_categories %}
                                    {% if sub_category.category == category %}
                                        <a href="{% url 'pages:sub_category' sub_category.slug %}" class="text-danger">{{ sub_category.title }}</a> |
                                    {% endif %}
                                {% endfor %}
                                
                            </div>
                            
                        </div>
                    </div>
                
                
            </article>
            {% endfor %}
        </div>

    </section>

{% endblock %}