{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block heading %}Contact Us{% endblock %}

{% block content %}

    <section class="row align-items-center my-5 text-danger">
        <div class="col-md-6">
            <h2 class="fs-2 fw-bold">Gem-Inn, Paris</h2>
            <p class="fs-3">#1234 Rue Paris Saint-Germain, Paris</p>
            <p><a href="/products.php" class="text-danger text-decoration-none fs-5">+12345678</a></p>
        </div>
        <div class="col-md-6">
            <h2 class="fs-2 fw-bold">Gem-Inn, Berlin</h2>
            <p class="fs-3">#1234 Strasse BundesStrasse, Berlin</p>
            <p><a href="/products.php" class="text-danger text-decoration-none fs-5">+12345678</a></p>
        </div>
        <div class="col-md-6">
            <h2 class="fs-2 fw-bold">Gem-Inn, Stockholm</h2>
            <p class="fs-3">#1234 Hårt arbete och framgång Street, Stockholm</p>
            <p><a href="/products.php" class="text-danger text-decoration-none fs-5">+12345678</a></p>
        </div>

    </section>

{% endblock %}