{% extends 'base.html' %}
{% load static %}

{% block styles %}
    https://use.fontawesome.com/releases/v5.10.2/css/all.css
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
    <section class="row align-items-center my-5">
        <div class="col-md-5">
            <h2 class="fs-2 fw-bold">Shop with leisure</h2>
            <p class="fs-3"><span class="text-danger">Gem-Inn Jewelries</span> is your one-stop shop for all exquisite gems. Order and have it delivered at your doorsteps.</p>
            <p><a href="{% url 'pages:products' %}" class="btn btn-danger">Check out our gallery</a></p>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide col-md-7" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
            </div>
            <div class="carousel-inner rounded" style="height: 350px;">
                <div class="carousel-item active">
                    <img src="{% static 'images/bridget-flohe.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/coppertist-1.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/coppertist-2.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/cornelia.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/gary-yost.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/jenna-day.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/kazzle-john.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/mong-bui.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'images/simran-sood.jpg' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section>
        <h3 class="fs-3 fw-bold border-bottom">Our Products</h3>

        <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
            {% for product_unit in product_units %}
            
            {% endfor %}
            <article class="col">
                <div class="card">
                    <img src="{% static 'images/bridget-flohe.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Engagement bands</h5>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum fugit sit, magnam porro omnis fugiat beatae dignissimos. Qui veniam tempora animi quibusdam laborum nisi perspiciatis, numquam et, iure accusamus maiores...</p>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card">
                    <img src="{% static 'images/coppertist-1.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ear rings</h5>
                        <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi rem eligendi ab delectus illo, cum fugit doloremque sed deleniti dolor asperiores provident nisi impedit voluptatum distinctio ipsum magnam dolores nobis.</p>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card">
                    <img src="{% static 'images/gary-yost.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fashion rings</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quaerat illo ullam repellat, quisquam cumque libero, debitis reprehenderit ipsum natus optio numquam, voluptatum similique suscipit ab dicta neque at rerum!</p>
                    </div>
                </div>
            </article>
            <article class="col">
                <div class="card">
                    <img src="{% static 'images/simran-sood.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Wrist bands</h5>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, facilis quia in architecto ipsa dolore totam eveniet officia dolorum aut similique consequuntur, necessitatibus itaque dolorem ex doloribus consectetur earum? Ullam!</p>
                    </div>
                </div>
            </article>
        </div>

    </section>


    <section class="reviews mt-5">
        <h3 class="fs-4 border-bottom">Some Customer Reviews</h3>
        <div class="reviews mt-3">
            {% for review in product_reviews %}
                <div class="d-flex flex-column gap-0 fw-light border-bottom mb-2">
                    {% if review.get_stars_display == 'Very poor' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Poor' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Average' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Good' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Very good' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% endif %}

                    <span class="fw-bold">{{ review.title }}</span>
                    <span>{{ review.content }}</span>
                    
                    <span class="text-end fst-italic fs-6 mb-0">by {{ review.added_by.first_name }} {{ review.added_by.last_name }}</span>
                    <span class="text-end fst-italic fs-6">{{ review.created_at }}</span>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}