{% extends 'base.html' %}
{% load static %}

{% block styles %}
    https://use.fontawesome.com/releases/v5.10.2/css/all.css
{% endblock %}

{% block scripts %}
    {% static 'js/pages.js' %}
{% endblock %}

{% block title %}Product{% endblock %}

{% block heading %}{{ product.title }}{% endblock %}

{% block content %}

    <section>
        <div>
            {% if messages %}
                {% for message in messages  %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message|safe }}</strong>.                 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-flex justify-content-between align-items-center flex-wrap row-gap-4">
            <div>
                {% if product_unit_count < 1 %}
                    <span class="bg-secondary text-white px-4 py-2 rounded fw-bold text-wrap">Out of stock</span>
                {% elif product_unit_count == 1 %}
                    <span class="bg-warning px-4 py-2 rounded fw-bold text-wrap">We've got only 1 left! Hurry!</span>
                {% elif product_unit_count == 2 %}
                    <span class="bg-warning px-4 py-2 rounded fw-bold text-wrap">We've got only 2 left! Hurry!</span>
                {% elif product_unit_count == 3 %}
                    <span class="bg-warning px-4 py-2 rounded fw-bold text-wrap">We've got only 3 left! Hurry!</span>
                {% else %}
                    <span class="bg-success text-white px-4 py-2 rounded fw-bold text-wrap">In stock</span> 
                {% endif %}
            </div>
            <div class="d-flex justify-content-end flex-wrap column-gap-2 row-gap-2">
                <button href="#" id="add_to_bag" value="{{ product.id }}" class="btn btn-danger fw-bold">
                    Add to bag
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-check-fill text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                    </svg>
                </button>
                <!-- <button href="#" id="remove_from_bag" value="{{ product.id }}" class="btn btn-secondary fw-bold">
                    Remove from bag
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-x-fill text-white" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293 6.854 8.146z"/>
                    </svg>
                </button> -->
                <a id="update_favorite" href="{% url 'accounts:update_favorite' product.id %}" class="btn btn-warning">
                    <span class="fw-bold">Add/Remove favorite</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-bag-fill text-dark" viewBox="0 0 16 16">
                        <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                </a>
            </div>
        </div>

        <div class="row mt-4 row-gap-4">
            <div class="col-md-4 col-lg-5 d-flex flex-column">

                <div class="mb-1">
                    <img id="set_image" src="{{ product_unit_image_default_for_product.image.url }}" class="object-fit-cover border rounded product-unit-images" style="width: 26rem; height: 17.5rem;">
                </div>

                <div class="d-flex flex-wrap column-gap-1">
                    {% for product_image in product_unit_images %}
                        {% if product_image.product == product %}
                            
                            <img id="image_setter" src="{{ product_image.image.url }}" class="object-fit-cover border rounded product-unit-images" alt="{{ product_image.alt_text }}" style="width: 5rem; cursor: pointer;" onclick="switchImage(this);">
                            
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-2 col-lg-1">

            </div>
            <div class="col-md-6 col-lg-6">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="d-flex flex-column">
                        <span class="fw-bold">Retail Price</span>
                        <span class="fw-bold fs-4">{{ product.retail_price }} {{ product.retail_price_unit }}</span>
                    </span>
                    <div class="dropdown">
                        <label for="select-qty" class="fw-bold">Quantity</label>
                        <select id="select-qty" class="p-2 rounded">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex flex-column column-gap-2 flex-wrap mt-4">
                    <span class="fs-6 fw-bold">Specifications</span>
                    <div class="d-flex column-gap-3 flex-wrap">
                        {% for product_specification in product_specifications %}
                        <span class="fs-5 d-flex flex-column">
                            <span class="">{{ product_specification.title|lower }}</span>
                            <select id="select" class="p-1 rounded">
                            {% for value in related_product_specification_values %}
                                {% if product_specification.slug == value.product_specification.slug %}
                                    {% if value.value %}
                                        <option value="{{ value }}" class="fw-bold">
                                            {{ value.value|lower }}
                                        </option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </select>
                        </span>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="d-flex flex-column column-gap-2 flex-wrap mt-4">
                    <span class="fs-6 fw-bold">Description</span>
                    <p class="fs-5">{{ product.description }}</p>
                </div>
                
            </div>
        </div>

    </section>

    <section class="reviews mt-5">
           
        <div class="mb-3 border-bottom d-flex justify-content-between">
            <h3 class="fs-4">Reviews</h3>
            <a href="#add-review" id="toggle-review-input" class="text-danger text-decoration-none mb-2">
                Add a quick review
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square-fill text-danger" viewBox="0 0 16 16">
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg>
            </a>
        </div>

        <div id="add-review" class="add-review">
            <form action="{% url 'inventory:add_product_review' product.slug %}" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Error: Please try again!</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                <div class="d-flex justify-content-end align-items-center">
                    <div>
                        <span>Star-rate this product: </span>
                    </div>
                    <div class="star-rating">
                        <div class="star-input">
                            <input type="radio" name="rating" id="rating-5" value="5">
                            <label for="rating-5" class="fas fa-star">
                            </label>

                            <input type="radio" name="rating" id="rating-4" value="4">
                            <label for="rating-4" class="fas fa-star">
                            </label>

                            <input type="radio" name="rating" id="rating-3" value="3">
                            <label for="rating-3" class="fas fa-star">   
                            </label>

                            <input type="radio" name="rating" id="rating-2" value="2">
                            <label for="rating-2" class="fas fa-star">     
                            </label>

                            <input type="radio" name="rating" id="rating-1" value="1">
                            <label for="rating-1" class="fas fa-star">    
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="title" class="form-label small fw-bold">{{ product_review_form.title.label }}</label>
                        <div class="input-group">
                            {{ product_review_form.title }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <label for="content" class="form-label small fw-bold">{{ product_review_form.content.label }}</label>
                        <div class="input-group">
                            {{ product_review_form.content }}
                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <label for="title" class="form-label small fw-bold">Review Title</label>
                        <div class="input-group">

                            <input type="text" name="title" id="title" class="form-control" placeholder="Review Title">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <label for="content" class="form-label small fw-bold">Review Description</label>
                        <div class="input-group">
                            <input type="text" name="content" id="content" class="form-control" placeholder="Review Content">
                        </div>
                    </div>
                </div> -->

                <div class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-danger mb-4 mt-4 px-2 fw-bold" type="submit">
                        Add Review
                    </button>
                </div>
                
            </form>
        </div>

        <div class="reviews mt-3">
            {% for review in product_reviews %}
                <div class="d-flex flex-column gap-0 fw-light border-bottom mb-2">
                    {% if review.get_stars_display == 'Very poor' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Poor' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Average' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Good' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% elif review.get_stars_display == 'Very good' %}
                        <div class="d-flex text-danger">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                    {% endif %}

                    <span class="fw-bold">{{ review.title }}</span>
                    <span>{{ review.content }}</span>
                    
                    <span class="text-end fst-italic mb-0">by {{ review.added_by.first_name }} {{ review.added_by.last_name }}</span>
                    <span class="text-end fst-italic">{{ review.created_at }}</span>
                </div>
            {% endfor %}
        </div>
    </section>


    <script>
    $(document).on('click', '#add_to_bag', function (e) {
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "bag:bag_add" %}',
        data: {
          productid: $('#add_to_bag').val(),
          productqty: $('#select-qty option:selected').text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'POST'
        },
        success: function (json) {
          document.getElementById("bag-qty").innerHTML = json.qty
        },
        error: function (xhr, errmsg, err) {}
      });
    })

    // $(document).on('click', '#remove_from_bag', function (e) {
    //   e.preventDefault();
    //   $.ajax({
    //     type: 'POST',
    //     url: '{% url "bag:bag_delete" %}',
    //     data: {
    //       productid: $('#remove_from_bag').val(),
    //       csrfmiddlewaretoken: "{{csrf_token}}",
    //       action: 'POST'
    //     },
    //     success: function (json) {
    //       document.getElementById("bag-qty").innerHTML = 'removed'
    //     },
    //     error: function (xhr, errmsg, err) {}
    //   });
    // })


    // $(document).on("click", "#remove_from_bag", function (e) {
    //         e.preventDefault();
    //         $.ajax({
    //         type: "POST",
    //         url: '{% url "bag:bag_delete" %}',
    //         data: {
    //             productid:  $('#remove_from_bag').val(),
    //             productqty: 0,
    //             csrfmiddlewaretoken: "{{csrf_token}}",
    //             action: "post",
    //         },
    //         success: function (json) {
    //             // $('.product-item[data-index="' + prodid + '"]').remove();

    //             // if (json.qty == 0) {
    //             // total = 0
    //             // subtotal = 0
    //             // } else {
    //             // total = (parseFloat(json.subtotal) + 11.50).toFixed(2);
    //             // subtotal = json.subtotal
    //             // }

    //             // document.getElementById("subtotal").innerHTML = subtotal;
    //             // document.getElementById("bag-qty").innerHTML = json.qty;
    //             // document.getElementById("total").innerHTML = total;
    //         },
    //         error: function (xhr, errmsg, err) {},
    //         });
    //     });
  </script>

{% endblock %}