{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Edit {{ category.title|title }} Category{% endblock %}

{% block content %}

    <section class="px-3">
        <div class="mb-4 border-bottom d-flex justify-content-between">
            <h3 class="fs-4">Edit category <span class="fw-bold">{{ category.title|title }}</span></h3>
        </div>

        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error: Please try again!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-6">
                    <label for="title" class="form-label small fw-bold">{{ form.title.label }}</label>
                    <div class="input-group">
                        {{ form.title }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label for="description" class="form-label small fw-bold">{{ form.description.label }}</label>
                    <div class="input-group">
                        {{ form.description }}
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-warning mb-4 mt-4 px-5 fw-bold" type="submit">
                    Update Category
                </button>
            </div>
            
        </form>
    </section>

{% endblock %}